# Dependencies
node_modules/
package-lock.json

# Binary Audio Files
# *.mp3
# *.wav

# MIDI Files
*.mid

# SoundFont Files
*.sf2

# OS Files
.DS_Store
Thumbs.db
Desktop.ini

# Editor Files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

